html, body {
  background-color: #21232A;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 20px;
}

button {
  font-size: 1rem;
  padding: 10px;
  margin-right: 10px;
}

input {
  box-sizing: border-box;
  font-size: 1.3rem;
  padding: 5px;
  width: 100%;
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: hidden;
  width: 30%;
}